<launch>

    <!-- Move base -->
    <!-- <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"> -->
        <!-- <param name="custom_param_file" file="$(find mbot_nav)/param/explore_4/base_local_planner_params.yaml" /> -->
    <!-- </include> -->

    <!-- Move base -->
  <arg name="custom_param_file" default="$(find mbot_nav)/param/amcl.yaml"/>
  <include file="$(find mbot_nav)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>
</launch>
