<launch>
  <arg name="RVIZ_CONF" default="$(find turtlebot_samples)/launch/turtlebot_exploration.rviz"/>

  <!-- start of gmapping_demo -->
  <!-- <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/> -->
  <!-- r200, kinect, asus_xtion_pro -->
  <!-- <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/> -->
  <!-- <include file="$(arg custom_gmapping_launch_file)"/> -->

  <!-- Move base -->
  <!-- <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml" /> -->
  <!-- end of gmapping demo -->

  <!-- Start of Exploration_all -->
  <!-- Edited from https://github.com/husky/husky/blob/8cd932ac230b87ba0ce59b75908b759f4065a6c1/husky_navigation/launch/exploration.launch -->
  <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>

  <node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen">
    <param name="frequency" value="1.0"/>

    <!-- Should be less than sensor range -->
    <param name="goal_aliasing" value="2.0"/>

    <rosparam file="$(find mbot_nav)/param/costmap_common_params.yaml" command="load" ns="explore_costmap" />
    <rosparam file="$(find mbot_nav)/param/costmap_exploration.yaml" command="load" ns="explore_costmap" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg RVIZ_CONF)" />
  <!-- end of exploration_all -->

</launch>
